.file-upload-wrapper{
    .file-upload-button{
        position:absolute;
        top: -1000px;
    }
    .file-upload-label{
        border: 2px solid #ebc60b;
        border-radius: 3px;
        padding: 20px 40PX;
        background: #FFFFFF;
        display: inline-block;
        margin: 0;
        cursor: pointer;

        &:hover{
            background: #ebc60b;
            color: #FFFFFF
        }
    }
}