#page-header{
    padding: 0;
    .navbar{
        background: #ebc60b;
        height: 50px;
        /*.navbar-toggler{
            display: block;
            position: absolute;
            right: 0;
        }*/
        #csv-upload-button{
            display: inline-block;
            width: auto;
        }
    }

    #logo{
        background: white;
        padding: 20px;
        position: absolute;
        height: 148px;
        border: 1px solid black;
        vertical-align: middle;
        /* line-height: 300px; */
        color: black;
        font-size: 50px;
        max-width: 192px;
        display: block;
        white-space: normal;
        top: 0;
        z-index: 99;
        text-align: center;
        font-weight: bold;
        line-height: 39px;
    }



}


#offcanvas-menu{
    position: fixed;
    right: 0;
    background: #f3f3f3;
    height: 100%;
    top: 0px;
    width: 30%;
    z-index: 99;
    min-width: 170px;
    padding: 20px;
    border-left: 3px solid #ebc60b;
    padding-top: 65px;

    .close {
        position: absolute;
        right: 32px;
        top: 12px;
        width: 32px;
        height: 32px;
        opacity: 1;
        font-size: 0;
        left: 20px;

        &:hover{
            opacity: 1;
        }

        &:before, &:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 33px;
            width: 2px;
            background-color: #ebc60b;
        }

        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }



    .filter-accordion{
        margin-top: 5px;
        border: 2px solid #ebc60b;


        button{
            &:focus{
                box-shadow: none;
            }
        }

        button{
            background: white;
            width: 100%;
            border-radius: 0;
            color: #000;
            text-transform: capitalize;
            border: none;
        }


        .collapse{
            background: white;
            button:first-of-type{
                border-top: 1px solid #ebc60b ;
            }
        }
    }

}