#loader-icon{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
}

body.loading{
    #loader-icon{
        display: block!important;
    }
}

.file-upload-wrapper{
    .file-upload-button{
        position:absolute;
        top: -1000px;
    }
    .file-upload-label{


        padding: 20px 40PX;

        display: inline-block;




    }
}