/* Colors */
$color-mustard: #ebc60b;
$color-white: #FFFFFF;
$color-gray: #363636;
/*Element Colors */
$primary-background-color: $color-mustard;
$primary-background-hover-color: $color-white;

$primary-border-color: $color-mustard;

$primary-text-color: $color-gray;
$primary-text-hover-color: $color-white;