@import 'components/Header/Header';
@import 'components/GridControls/GridControls';
@import 'components/GridControls/FileUploader/FileUploader';
@import 'components/ProductGrid/Product';

#page {
  &.no-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;



  }

  #page-content {
    padding: 0;
  }
  .row, .col {
    margin: 0;
    padding: 0;
  }

  .btn,button{
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .btn {
    border-radius: 3px;
    margin: 0;
    cursor: pointer;
    transition: 0.5s background-color, 0.5s color;



  }

}

#page-content {
  background: white;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}


