

.file-upload-wrapper{
    .file-upload-button{
        position:absolute;
        top: -1000px;
    }
    .file-upload-label{


        padding: 20px 40PX;

        display: inline-block;




    }
}